.checkbox-container {
  width: 370px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-with-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  padding: 8px 15px 8px 22px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.button-with-checkbox:last-child {
  border-bottom: none;
}

.button-text {
  flex-grow: 1;
}

.checkbox {
  width: 23px;
  height: 23px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.checkbox:hover::after {
  content: "✔";
  color: gray;
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: 4px;
}

.checkbox.checked::after {
  content: "✔";
  color: white;
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: 4px;
}

.checkbox.checked:hover {
  background-color: #0056b3;
}

.checkbox.permanent {
  background-color: #007bff;
  border-color: #007bff;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.done-button {
  width: 340px;
  height: 40px;
  padding-bottom: 2px;
  margin: 10px auto;
  background-color: #ffce22;
  color: white;
  border-radius: 4px 0 0 0;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.done-button:hover {
  background-color: #ffd84d;
}
